
body {
  margin: 0;
  font-display: optional;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

body * {
  flex-shrink: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background-color: hsla(0,0%,100%,0.2);
}

::-webkit-scrollbar-thumb {
  background-color: hsla(200,100%,76%,0.8);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-resizer {
  background-color:transparent;
}

.md-block {
  font-size: 16px;
}

.md-p {
  margin: 16px 0px;
  line-height: 1.6em;
}

.md-p code {
  padding: 0 8px;
  font-size: 14px;
  background-color: #b5b5b5;
  color: white;
  display: inline-block;
  border-radius: 4px;
  line-height: 20px;
  font-family: Source Code Pro, Menlo, Roboto Mono, monospace;
}
.md-code-block code {
  font-family: Source Code Pro, Menlo, Roboto Mono, monospace;
}

.md-p a {
  text-decoration: none;
  color: #9a9aff;
  font-weight: 500;
}
.md-p a:hover {
  color: #aaaaff;
}

.md-p li {
  list-style: none;
  margin-left: 32px;
}

.md-p h3 {
  font-family: Josefin Sans;
  font-size: 32px;
  font-weight: 300;
  margin: 64px 0px 24px;
}

.md-p img {
  max-width: calc(100% + 80px);
  margin: 0 -40px;
}

.cirru-tile {
  background-image: url(./cirru-tile.png);
  background-size: 100px;
}
